<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.invoice.mapper.ItemMapper">

    <resultMap id="BaseResultMap" type="com.invoice.domain.Item">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="sum" column="sum" jdbcType="FLOAT"/>
            <result property="invoiceId" column="invoice_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,time,
        sum,invoice_id
    </sql>
</mapper>
